# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore raw assets and large video files
/assets
/public/videos/*.mp4
!/public/videos/hero-bg.mp4
!/public/videos/passing_drill.mp4
!/public/videos/trim.mp4

# Ignore video assets directory
/public/videos/assets/
